*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header{ 
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 80px;
    width: 245px;
    padding-top:2px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
}
.sub-menu1{
    display: flex;
    align-items: left;
    position: relative;
    justify-content: left;
}
.nav-links ul li::after{
content: '';
width: 0%;
height: 2px;
background: #14dceb;
display: block;
margin: auto;
transition:0.3s;

 }
.nav-links ul li:hover::after{
    width: 100%;

 }
 .text-box{
     width: 90%;
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
     
 }
 .text-box h1{
     color: rgb(253, 253, 253);
     font-size: 64px;
     font-weight: bold;
     padding-top: 70px;
     padding-bottom: 5px;
  
 }
 .text-box p{
     font-style: italic;
     margin: 10px 0 40px;
     font-size: 22px;
     line-height: 27px;
     font-weight: 500;
     font-family:Georgia, 'Times New Roman', Times, serif;
     
     
 }
 .marqu{
    color: rgb(255, 255, 255); 
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 25px;
    padding-top: 25px;
}
 .hero-button{
     display: inline-block;
     text-decoration: none;
     font-style: bold;
     color: rgb(231, 222, 222);
     border: 2.5px solid white;
     border-radius: 25px;
     padding: 12px 34px;
     margin-top: 25px;
     font-size: 14px;
     font-weight: 550;
     background: rgb(26, 76, 226);
     position: relative;
     cursor: pointer;
 }
 .hero-button:hover{
 border: 3px solid  rgb(26, 76, 226);
 background: white;
 transition: 0.4s;
 color: rgb(26, 76, 226);
 font-size: 15px;
 font-weight: 550;
 font-style: bold;
 }

.admin-button{
    
     text-decoration: none;
     font-style: bold;
     color: rgb(231, 222, 222);
     border: 2.5px solid white;
     border-radius: 25px;
     padding: 12px 34px;
     margin-top: 25px;
     font-size: 14px;
     font-weight: 550;
     background: transparent;
     position: relative;
     cursor: pointer;
}

 .footer-bottom{

     display:flexbox;
     width: 100vw;
     padding: 20px 0;
     text-align: center;
    
    }

    .footer-bottom p{
        font-weight: 400;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
 
    .footer-bottom span{
        text-transform: uppercase;
        opacity: 5;
        font-style: bold;
        font-weight: 400;
        padding-top: 3px;
    }

    nav .fa{
        display: none;
    }

     @media(max-width: 700px){
         
     .text-box h1{
        font-size: 31px;
        }
        .text-box p{
            margin-top: 7px;
            margin-bottom: 5px;
            font-size: auto;
            font-weight: auto;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        .nav-links ul li{
            display: block;
        }
       
        .nav-links{
            position: fixed;
            background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/f2.jpg);
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px; 
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        nav .fa{
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 29px;
            cursor: pointer;

        }
        .nav-links ul{
            padding: 30px;
        }
        .nav-links .sub-menu1 ul li{
        display: none
       
        }
     

}


/*----Our Services---*/
.ourservices{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    font-style: initial;
    margin-bottom: 20px;
}
p{
    color:"#777";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;

}
h4{
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 550;
}
.row{
    display: flex;
    margin-top: 6%;
    justify-content: space-between;
}
.services-col{
  
    flex-basis: 22.5%;
    background-image: linear-gradient(rgba(81, 83, 88, 0),rgba(42, 47, 66, 0)),url(images/f2.jpg);
    border-radius: 20px;
    margin-bottom: 10%;
    padding: 20px 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.services-col a{
    text-decoration: none;
}
.services-col:hover{
    background-image: linear-gradient(rgba(20, 34, 70, 0.493),rgba(39, 49, 92, 0.438)),url(images/scol.jpg);
    width: 100%;
    font-size: 17.5px;   
    transition: 0.3s;
    
}
.fa-solid {
    color: white;
}
.fa {
    color: white;
}
h3{
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 10px 0;
}
p{
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.services-col:hover{
    box-shadow: 0 0 20px 0px rgb(255, 0, 0);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*---Our Team--*/
.team{
    
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 11px;
    
}
.team-col{
    flex-basis: 22%;
    border-radius: 11px;
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;
    
}
.team-col img{
    height: 100%;
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover{
    background: #3b97bba1;
}
.layer h3{
    width: 100%;
    font-size: 23px;
    font-weight: 600;
    font-style: bold;
    color: rgb(0, 0, 0);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}
.layer:hover h3{
    bottom:49% ;
    opacity: 1;
}
.layer span{
    width: 100%;
    font-size: 22px;
    font-weight: 550;
    font-style:oblique;
    color: white;
    background-color:black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
  
}

/*---Call To Action---*/

.cta{
margin: 100px auto;
width: 90%;
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/contactus.jpg);
background-size: cover;
background-position: center;
border-radius: 10px;
text-align: center;
padding: 100px 0;
margin-bottom: 20px;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-style: italic;
    letter-spacing: 2px;
}
@media(max-width: 700px){
    .cta h1 {
        font-size: 22px;
        padding-left: 5px;
        padding-right: 5px;
    }
}


/*-----Footer---*/

.footer{
    width: 100%;
    text-align: center;
     background-image: linear-gradient(rgba(7, 17, 53, 0.7),rgba(9, 19, 63, 0.7)),url(images/f2.jpg);
  
    padding-top: 30px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

.footer p{
    word-spacing: 1px;
    font-weight: 500;
    font-size: 19px;
    font-style: italic;
}
.footer span{
  opacity: 2;
    font-weight: 400;
}

.footer h3{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 28px;
}
.footer h2{
    margin-bottom: 15px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
}
.footer span{
    font-weight: 500;
    font-size: 17px;   
   
}
.icons .fa{
   
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: red;
}
.fa-facebook{
    color: rgb(233, 233, 248);
}
.fa-whatsapp{
    color:rgb(19, 224, 19);
}
.fa-linkedin{
    color: rgb(216, 219, 241);
}
.fa-instagram{
    color: rgb(206, 22, 99);
}
.fa-youtube{
    color: rgb(216, 16, 16);
}



/*----About us page----*/

.sub-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.pline{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pline h3{
 padding-top: 30px;
 font-size: 40px;
 font-weight: 800;
 font-style: italic;
 color: white;

}
.pline p{
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    color: white;
}

.about-us{
    width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px; 
}
.text h4{
    font-size: 25px;
    text-align: start;
    font-style:italic;
    font-weight: bold;
   
}
.text p{
    font-size: 18.5px;
   
    color: black;
 
}

.heading{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    text-decoration: underline;
    
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    font-size: 39px;
    font-weight: bold;
    padding-top: 0;
    padding-left: 5px;
}

.about-col ul{
    padding-top: 0;
   
}
.about-col ul li{ 
    font-weight: 400;
    font-size: 20px;
}

.about-col p{
   padding-left: 3px;
   padding-top: 0;
    font-size: 15px;
}
.about-vision{
    padding-top:0 ;
}
.about-vision p{
    font-weight: 600px;
    font-size: 28px;
}
.about-vision ul li{
    font-weight: 400;
    font-size: 20px;
}
.readMore-btn{
    padding:12px 34px;
    background-color: #fa2d1f;
    color: rgb(250, 246, 246);
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 25px; 
    text-decoration: none;
}
.readMore-btn:hover{
    background-color: #f9fafd;
    color: #fa2d1f;
    border: 2px solid #fa2d1f;
    font-size: 14px;
    font-weight: 550;
}
.explore-btn{
    padding:12px 34px;
    background-color: #1fc7fae1;
    color: rgb(250, 246, 246);
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 4px;
    
}
.explore-btn:hover{
    background-color: #f9fafd;
    color: #1fc7fae1;
    border: 2px solid #1fc7fae1;
    font-size: 14px;
    font-weight: 550;
}

@media(max-width: 700px){
    .cta h1 {
        font-size: 24px;
        padding-top: 30px;
    
    }
    .pline p{
        width: auto;
        text-align: auto;
        font-size: 22px;
        font-weight: 600;
        margin-left:7px;
        margin-right: 7px;
        margin-top: 30px;
    }
    .about-col h1{
        
        padding-left: 20px;

    }
    .heading{
      text-decoration: underline;
    }
}

/*---blog--*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.quote p{
    margin-top: 80px;
    font-weight: 700;
    font-size: 44px;
    color: #fafbfc;
    font-style: italic;
}


.blog-us p{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 30px; 
    color: black;
    text-decoration: underline;
}

.blog-col{
    flex-basis: 48%;
    padding-top: 7px;
}
.blog-col img{
    width:70%;
    padding-bottom: 35px;
    padding-top: 95px;
    padding-left: 110px;
}
.blog-col h1{
    padding-left: 25px;
    font-size: 37px;
    font-weight: 700;
    
}

.blog-col ul li{
    width: 100%;
    line-height: 29px;
    padding-left: 19.5px;
    padding-right: 6px;
    font-weight: 500;
    font-size: 19.5px;
    font-style: italic;
    font-family: 'Times New Roman';
   
}
.blog-vision{
    padding-top:40px;
}
.blog-vision h1{
    padding-left: 25px;
 
    font-size: 37px;
    font-weight: 700;
    padding-top: 0;
}
.blog-vision{
    flex-basis: 48%;
    padding-top: 7px;
}
.blog-vision img{
    width:90%;
    padding-bottom: 35px;
    padding-top: 65px;
}


.blog-vision ul li{
    text-align: justify;
    width: 100%;
    line-height: 29px;
    padding-left: 19.5px;
    padding-right: 6px;
    font-weight: 500;
    font-size: 19.5px;
    font-style: italic;
    font-family: 'Times New Roman';
}

.blog-history{
    padding-top:40px;
}
.blog-history h1{
    padding-left: 25px;
 padding-bottom: 0;
    font-size: 37px;
    font-weight: 700;
    padding-top: 0;
}
.blog-history h3{
    padding-left: 25px;
 padding-bottom: 0;
 line-height: 25px;
 color: black;
 text-align: start;
    font-size: 25px;
    font-weight: 700;
    padding-top: 0;
}
.blog-history{
    flex-basis: 48%;
    padding-top: 7px;
}
.blog-history img{
    width:80%;
    height: 600px;
    padding-bottom: 35px;
    padding-top: 95px;
    padding-left: 110px;
}

.blog-history p{
    text-decoration: none;
    text-align: justify;
    width: 100%;
    line-height: 29px;
    padding-top: 12px;
    padding-left: 19.5px;
    padding-right: 6px;
    font-weight: 500;
    font-size: 19.5px;
    font-style: italic;
    font-family: 'Times New Roman';
}
.blog-mission{
    padding-top:40px;
}
.blog-mission h1{
    padding-left: 25px;
    font-size: 37px;
    font-weight: 700;
    padding-top: 0;
}
.blog-mission{
    flex-basis: 48%;
    padding-top: 7px;
}
.blog-mission img{
    width: 100%;
}
.tt {
      padding-left: 18px;
      font-weight: 600;
    font-size: 23px;
    font-style: italic;
    }

.red-btn{
    border: ipx solid #f44336;
    background: transparent;
    color: #f44336;
    transition: 0.5s;
}
.red-btn:hover{
    color: rgb(245, 245, 245);

}
@media(max-width: 700px){
    .quote p{
        width: auto;
        text-align: auto;
        font-size: 23px;
        font-weight: 700;
        font-style: italic;
        padding-top: 80px;
    }
    
    .blog-col ul li{ 
        width: auto;
        padding-left: 21px;
        padding-right: 21px;
        font-weight: 600;
         font-size: 20px;
         font-style: italic;
     }
     .blog-history p{ 
        width: auto;
        padding-left: 21px;
        padding-right: 21px;
        font-weight: 600;
         font-size: 20px;
         font-style: italic;
     }
     .blog-history h3{
         line-height: 38px;
         padding-right: 7px;
     }
     .text{
        width: auto;
        padding-left: 21px;
        padding-right: 21px;
         font-style: italic;
         font-size: 21px;
         font-weight: 600;
     }
     
    
    .blog-col img{
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 25px;
        width: 90%;
     
}
.blog-history img{
    padding-top: 2px;
    padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 25px;
        width: 90%;
        height: 60%;
}
.txt{
    width: auto;
    padding-left: 21px;
    padding-right: 21px;
    font-style: italic;
    font-weight: 600;
}
.blog-vision ul li{ 
    width: auto;
    padding-left: 21px;
    padding-right: 21px;
    font-weight: 600;
     font-size: 20px;
     font-style: italic;
 }
 .blog-vision img{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 25px;
    width: 90%;
}

.blog-mission .tt{
    width: auto;
    padding-left: 21px;
    padding-right: 21px;
    font-style: italic;
    font-weight: 600;
}
.blog-mission img{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 25px;
    width: 90%;
}
}

  
/*------Submenu Buttons---*/

.sub-menu1{
    display: none;

}
.nav-links ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background: fixed;
    margin-top: 11px;
    margin-bottom: -11px;
}

/*---- buttons in home page */
.team-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(240, 52, 52);
    border: 2px solid rgb(27, 26, 26);
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.team-btn:hover{
border: 2px solid rgb(5, 179, 248);
background: rgba(98, 186, 221, 0.63);
transition: 0.4s;
font-weight: 600;
color:black;
}

/* read-more-btn*/
.read-more-btn{
    color: #f44336;
}
.read-more-txt{
    display: none;
}
.read-more-txt--show{
    display: inline;
}
.moreText{
    display: none;
}
.readMore-btn{
    padding:12px 34px;
    background-color: #fa2d1f;
    color: rgb(250, 246, 246);
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 25px;
}
.readMore-btn:hover{
    background-color: #f9fafd;
    color: #fa2d1f;
    border: 2px solid #fa2d1f;
    font-size: 14px;
    font-weight: 550;
}
.text.show-more .moreText{
    display:inline;
}

.text.show-more .dots{
    display: none;
}


/* contact Us Page */


.qot p{
    padding-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    font-style: italic;
    
}
.hdi h1{
    text-align: center;
    font-size: 45px;
    font-weight: 800px;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 0px;
}
.nem h3{
    font-size:29px;
    font-weight: 550;
}
.contactUs-container{
    width: 100%;
    height: 100vh;
    background-color: #001660;
    display: flex;
    align-items: center;
    justify-content: center;


}
form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 7px;

}

form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #c0baba;
    font-size: 16px;

}
form button{
    padding: 15px;
    background:#ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}


/*------contact us */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
    padding-top: 5px;
    padding-bottom: 9px;

}
.location iframe{
    width: 100%;

}

.contact-us{
    width: 80%;
    margin: auto;

}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    padding-top: 10px;

}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.contact-col div .fa{
    font-size: 28px;
    color: #137cf5;
    margin: 10px;
    margin-right: 30px;
  
}
.contact-col div p{
    padding: 0;
    color: black;

}
.contact-col div h5{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 24px;
    font-weight: 550;
  
}


.contact-col input, .contact-col text area{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgb(226, 11, 11);
    box-sizing: border-box;
    

}
@media(max-width: 950px){
.qot p{
    line-height: 50px;
}

.contact-col div h5{
    line-break: normal;
}
}



/*-- academic parteners--*/


.prtn{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    font-style: italic;
}
.pt h1{
    padding-top: 30px;
    padding-bottom: 38px;
    padding-left: 80px;
    padding-right: 30px;
    font-size: 53px;
    font-weight: 700px;
    color: black;
    text-align: center;
     text-decoration: underline;
}

.academics-wrap{
    padding-bottom: 20px;
    width: 90%;
    height: auto;
    text-align: center;
}
.academics-wrap h5{
    font-size: 47px;
    color:rgb(8, 151, 247) ;
    text-align: center;
    padding-left: 80px;
    padding-right: 30px;
   
}
.academics-wrap p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 4px;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 550;
    color:rgba(48, 35, 35, 0.897) ;
}

.academics-wrap hr{
    width: 15%;
    height: 5px;
    border:none;
    background: #26ccca;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.academics-in{
    width: 100%;
    height: auto;
}
.academics-in ul{
    padding: 0;
    margin: 0;
}
.academics-in ul li{
    list-style: none;
    display: inline-block;
    width: 160px;
    height: 140px;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    margin: 10px;
    box-shadow: 0px 0px 0px -7px rgb(149, 226, 220);
    transition: 0.4s;
}
.academics-in ul li img{
   
    width: 100%;
    height: 100%;
}
.academics-in ul li img:nth-child(1){
   transform: translateY(0);
   transition:0.4s ;
}
.academics-in ul li img:nth-child(2){
    transform: translateY(0);
    transition:0.4s ;
 }

/*-----hover scetion---------*/
.academics-in ul li:hover img:nth-child(1){
    transform: translateY(-100%);
    transition:0.4s ;
 }
 .academics-in ul li:hover img:nth-child(2){
     transform: translateY(-100%);
     transition:0.4s ;
  }
 




 /*-- industrial parteners--*/

.industrial-wrap{
    width: 90%;
    height: auto;
    text-align: center;
}
.industrial-wrap h5{
    font-size: 47px;
    color:rgb(8, 151, 247) ;
    text-align: center;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 25px;
   
}

.industrial-wrap p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 4px;
    padding-left: 80px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 25px;
    font-weight: 550;
    color:rgba(48, 35, 35, 0.897) ;

}
.industrial-wrap hr{
    width: 15%;
    height: 5px;
    border:none;
    background: #26ccca;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.industrial-in{
    width: 100%;
    height: auto;
}
.industrial-in ul{
    padding: 0;
    margin: 0;
}
.industrial-in ul li{
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 130px;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    margin: 10px;
    box-shadow: 0px 0px 0px -7px rgb(149, 226, 220);
    transition: 0.4s;
}
.industrial-in ul li img{
   
    width: 100%;
    height: 100%;
}
.industrial-in ul li img:nth-child(1){
   transform: translateY(0);
   transition:0.4s ;
}
.industrial-in ul li img:nth-child(2){
    transform: translateY(0);
    transition:0.4s ;
 }




 /*-----hover scetion---------*/
 .industrial-in ul li:hover img:nth-child(1){
    transform: translateY(-100%);
    transition:0.4s ;
 }
 .industrial-in ul li:hover img:nth-child(2){
     transform: translateY(-100%);
     transition:0.4s ;
  }
 
  .hr{
      padding-top: 20px;
  }
  
  .text{
      font-size: 18px;
  }
  hr { margin:60px 0 0px 0;
    
 }



  /*-----Services---------*/


.head{
    padding-top:70px;
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    text-decoration: underline;
}


  .punchline p{
    
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
   line-height: 50px;
   color: white;
   letter-spacing: 1px;
    
    
}
.marq{
    color: red; 
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 40px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    
    width: auto;
    margin-top: 50px;
}

.card{
    min-height: 240px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(81, 83, 88, 0),rgba(42, 47, 66, 0)),url(images/f2.jpg);
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 25px;
}
.butn{
    padding-top: 13px;
    padding-bottom: 0;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 25px;
    background:rgba(241, 11, 11, 0.932);
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
border: 2px solid rgba(241, 11, 11, 0.932);
background: rgba(253, 253, 253, 0.856);
transition: 0.4s;
color: rgba(241, 11, 11, 0.932);
font-weight: 600;

}

.card i{
    margin:15px;
    color: #353130;
}

.card h2{
   
    margin-bottom: 12px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.card ul li{
    color: white;
    font-weight: 550;
    font-size:auto;
    text-align:auto;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
}
.card .fa-solid {
    color: white;
}
.card .fa {
    color: white;
}



.card:hover i,
.card:hover li{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}


.card:nth-child(1):hover{
    background-image: linear-gradient(rgba(27, 27, 41, 0.479),rgba(27, 27, 41, 0.479)),url(images/sco.jpg);
        background-size: 100%;
    
}
.card:nth-child(2):hover{
    background-image: linear-gradient(rgba(27, 27, 41, 0.479),rgba(27, 27, 41, 0.479)),url(images/sco.jpg);
        background-size: 100%;  
}

/*--Lower content boxes---*/

.writeup-box{
    display: flex;
    justify-content: space-between;
    
    width: auto;
    margin-top: 50px;
}
.box{
    min-height: 240px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(81, 83, 88, 0),rgba(42, 47, 66, 0)),url(images/f2.jpg);
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 25px;
}
.btn{
    padding-top: 13px;
    padding-bottom: 0;
}

.hero-butn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 25px;
    background:rgba(241, 11, 11, 0.932);
    position: relative;
    cursor: pointer;
}
.hero-butn:hover{
    border: 2px solid rgba(241, 11, 11, 0.932);
     background: rgba(253, 253, 253, 0.856);
    transition: 0.4s;
    color: rgba(241, 11, 11, 0.932);
    font-weight: 600;

    }

    .box i{
        margin:13px;
        color: #353130;
    }

    .box h2{
        margin-bottom: 12px;
        font-weight: 700;
        text-align: center;
        color: white;
    }
    .box ul li{
        color: white;
        font-weight: 550;
        font-size:auto;
        text-align:auto;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 3px;
        
    }
    .box .fa-solid {
        color: white;
    }
    .box .fa {
        color: white;
    }
    
  
    .box:hover i,
    .box:hover li{
        color: #fff;
    }
    .box:hover h2{
        font-weight: 600;
    }
    
    .box:nth-child(1):hover{
        background-image: linear-gradient(rgba(27, 27, 41, 0.479),rgba(27, 27, 41, 0.479)),url(images/sco.jpg);
            background-size: 100%;
        
    }
    .box:nth-child(2):hover{
        background-image: linear-gradient(rgba(27, 27, 41, 0.479),rgba(27, 27, 41, 0.479)),url(images/sco.jpg);
        background-size: 100%;

    }






/*---Responsive--*/
@media(max-width:700px)
{
    .punchline p{
        padding-left: 10px;
        padding: 10px;
        padding-bottom: 30px;
        font-size: auto;
        font-style: italic;
        font-weight: auto;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
    .writeup-box{
        flex-direction: column;
        width: 100%;
    }
    .box{
        min-width: 300px;
        margin: 7px auto;
    }
}
